<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="vp6242_robot">
	<!-- THE ROBOT -->
	<link name="world" />

	<!-- Arm file -->
	<xacro:include filename="$(find vp6242b_description)/urdf/vp6242.urdf.xacro" />
	<joint name="world_joint" type="fixed">
		<parent link="world" />
		<child link = "base_org" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>

	<!-- ============================= -->
	<!-- ====== Gazebo Plugins ======= -->
	<!-- ============================= -->
	<gazebo>
		<plugin name="control" filename="libgazebo_ros_control.so"/>
	</gazebo>
</robot>